*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #b9f6ca;
    font-family: 'Century Gothic';
}

/*Main Navigation*/

.nav-container{
    background-color: #311b92;
    width: 50px;
    height: 100%;
    position: fixed;
    float: left;
    padding: 0;
    margin: 0;
    text-shadow: 2px 2px 4px #263238;
    z-index: 2;
}

.nav-container ul{
    margin: 0 auto;
    margin-top: 40px;
    padding: 5px;
}

.nav-container li{
    margin: 0 auto;
    padding: 5px;
}

.nav-container i{
    color:#eceff1;
    font-size: 30px;
    margin: 0 auto;
}

.nav-container li:hover{
    background-color: #7e57c2;
}

/*Sub Navigation*/
/*Nav1*/
.nav1{
    background-color: #512da8;
    top: 35px;
    left: -350px;
    width: 250px;
    height: auto;
    position: fixed;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 20px; 
    text-align: left;
    text-decoration-line: none;
    text-shadow: 2px 2px 4px #263238;
    z-index: 1;
    transition: all ease-in-out 300ms;
}

.nav1 h2{
    color: #d1c4e9;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0 auto;
    font-size: 15px;
}


/*Nav2*/
.nav2{
    background-color: #512da8;
    top: 80px;
    left: -350px;
    width: 280px;
    max-height: 480px;
    position: fixed;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 20px; 
    text-align: left;
    text-decoration-line: none;
    text-shadow: 2px 2px 4px #263238;
    z-index: 1;
    transition: all ease-in-out 300ms;
    overflow-y: auto;
}

.nav2 h2{
    color: #d1c4e9;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0 auto;
    font-size: 15px;
}

.nav2 h1{
    color: whitesmoke;
    border-bottom: solid 4px #d1c4e9;
    width: 100%;
    height: auto;
    text-align: right;
    margin-top: 5px;
    padding: 0 auto;
    font-size: 23px;
    text-shadow: 2px 2px 4px #263238;
}

.nav2 img{
    width: 200px;
    padding: 0;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 #263238;
}

.nav2 ul{
    list-style-type: none;
    margin: 0 auto;
    margin-top: 20px;
    padding: 0;
}

.nav2 li{
    margin: 0 auto;
    text-decoration: none;
}

.nav2 i{
    padding-right: 10px;
}

.nav2 a{
    text-decoration: none;
    font-size: 18px;
    color: #d1c4e9;
}

.nav2 img:hover{
    width: 197px;
    border: 2px solid whitesmoke;
}

.nav2 li:hover{
    background-color: #7e57c2;
}

.nav2 a:hover{
    font-size: 20px;
    color: white;
}

#logout{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Nav3*/
.nav{
    background-color: #512da8;
    top: 130px;
    left: -350px;
    max-height: 450px;
    width: 280px;
    position: fixed;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 20px; 
    text-align: left;
    text-decoration-line: none;
    text-shadow: 2px 2px 4px #263238;
    z-index: 1;
    transition: all ease-in-out 300ms;
    overflow-y: auto;
}

.nav h2{
    color: #d1c4e9;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0 auto;
    font-size: 15px;
}

.nav ul{
    list-style-type: none;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.nav img{
    height: 40px;
    width: 40px;
    padding: 0;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 #263238;
}

.nav li{
    margin: 0 auto;
    text-decoration: none;
}

.nav i{
    padding-right: 10px;
}

.nav a{
    text-decoration: none;
    font-size: 18px;
    color: #d1c4e9;
}

.nav li:hover{
    background-color: #5c6bc0;
}

.nav a:hover{
    font-size: 20px;
    color: white;
}

.takclas{
    height: 50px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-right: 8px solid #9575cd;
    border-bottom: 2px solid #d1c4e9;
}

.takclas a{
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    text-align: right;
}

.takclas:hover{
    background-color: #5c6bc0;
}

.takclas a:hover{
    font-size: 22px;
    color: white;
}

.index-container{
    background-color: black;
    width: 100%;
    height: 100%;
    margin-left: 50px;
}

/*Nav4*/
.nav4{
    background-color: #512da8;
    top: 173px;
    left: -350px;
    width: 280px;
    height: auto;
    position: fixed;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 20px; 
    text-align: left;
    text-decoration-line: none;
    text-shadow: 2px 2px 4px #263238;
    z-index: 1;
    transition: all ease-in-out 300ms;
}

.nav4 h2{
    color: #d1c4e9;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0 auto;
    font-size: 15px;
}

.nav4 ul{
    list-style-type: none;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
}

.nav4 li{
    margin: 0 auto;
    text-decoration: none;
}

.nav4 i{
    padding-right: 10px;
}

.nav4 a{
    text-decoration: none;
    font-size: 18px;
    color: #d1c4e9;
}

.nav4 li:hover{
    background-color: #5c6bc0;
}

.nav4 a:hover{
    font-size: 20px;
    color: white;
}

/*Nav5*/
.nav5{
    background-color: #512da8;
    top: 215px;
    left: -350px;
    width: 280px;
    height: auto;
    position: fixed;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 20px; 
    text-align: left;
    text-decoration-line: none;
    text-shadow: 2px 2px 4px #263238;
    z-index: 1;
    transition: all ease-in-out 300ms;
}

.nav5 h2{
    color: #d1c4e9;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0 auto;
    font-size: 15px;
}

#closeNav{
    color: #d1c4e9;
    width: 100%;
    height: auto;
    padding: 0 auto;
    font-size: px;
    text-align: right;
    text-decoration: none;
}
/*Nav6*/
.nav6{
    background-color: #512da8;
    top: 215px;
    left: -350px;
    width: 280px;
    height: auto;
    position: fixed;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 20px; 
    text-align: left;
    text-decoration-line: none;
    text-shadow: 2px 2px 4px #263238;
    z-index: 1;
    transition: all ease-in-out 300ms;
}

.nav6 h2{
    color: #d1c4e9;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0 auto;
    font-size: 15px;
}

#closeNav{
    color: #d1c4e9;
    width: 100%;
    height: auto;
    padding: 0 auto;
    font-size: px;
    text-align: right;
    text-decoration: none;
}

/*Nav7*/
.nav7{
    background-color: #512da8;
    top: 215px;
    left: -350px;
    width: 280px;
    height: auto;
    position: fixed;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 20px; 
    text-align: left;
    text-decoration-line: none;
    text-shadow: 2px 2px 4px #263238;
    z-index: 1;
    transition: all ease-in-out 300ms;
}

.nav7 h2{
    color: #d1c4e9;
    width: 100%;
    height: auto;
    text-align: left;
    padding: 0 auto;
    font-size: 15px;
}

/*icon*/
#closeNav{
    color: #d1c4e9;
    width: 100%;
    height: auto;
    padding: 0 auto;
    font-size: px;
    text-align: right;
    text-decoration: none;
}