*{
    margin: 0;
    padding: 0;
}

body{
    background-color: burlywood;
}

.nav-container{
    background-color: rgb(23, 23, 53);
    width: 50px;
    height: 100%;
    position: fixed;
    float: left;
    padding: 0;
    margin: 0;
}

.nav-container ul{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px;
}

.nav-container li{
    margin: 0 auto;
    padding: 5px;
}

.nav-container img{
    height: 30px;
    width: 30px;
}

#down-item{
    position: absolute;  
    bottom: 40px; 
    float: right;
}

.nav-container i{
    color: rgb(241, 232, 196);
    font-size: 30px;
    margin: 0 auto;
}