*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #b9f6ca;
    font-family: 'Century Gothic';
}

/*Login Page*/

.background{
    background-image: url('../pics/bglogin.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login-container{
    background-color: #263238;
    opacity: 0.7;
    width: 30%;
    height: auto;
    padding: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 0 auto;
    margin-top: 120px;
}

.login-container input{
    background: none;
    border: 2px solid #2196f3;
    color: white;
    margin-left: 10%;
    margin-bottom: 20px;
    padding: 5px;
    padding-left: 15px;
    width: 80%;
    font-size: 22px;
}

.login-container input:hover{
    border: solid 2px #f57f17;
}

.login-container input:focus{
    border: solid 2px #fdd835;
}

.login-container button{
    background: none;
    border: 2px solid #2196f3;
    color: #2196f3;
    margin: 10px;
    margin-top: 30px;
    margin-right: 5%; 
    float: right;
    padding: 5px;
    width: 20%;
    text-align: center;
    font-size: 18px;
}

.login-container button:hover{
    background: none;
    border: 2px solid #f57f17;
    color: #f57f17;
}

.correct-container p{
    padding: 10px;
    color: #f44336;
}

.main-title{
    font-family: 'Consolas';
    color: #fdd835;
    font-size: 23px;
    text-align: center;
    text-shadow: 2px 0 0 black;
}

.sub-title{
    margin-top: 10px;
    margin-bottom: 5px;
    color: #eceff1;
    padding: 5px;
    padding-left: 10px; 
    font-size: 18px;
    text-shadow: 2px 0 0 2px #263238;
}

.login-container a{
    text-decoration: none;
    color: #2196f3;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.login-container i{
    padding-right: 25px;
}

.login-container a:hover{
    color: #f57f17;
}

/*Main Navigation*/

.nav-container{
    
}
